  .zukan-bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-image: url('https://www.pokemon.jp/special/kowapoke/wallpaper/download/pc_1280_768_2.jpg');
    background-repeat: repeat-y;
    background-position: top center;
    background-size: cover;
    z-index: -1;
  }

  .zukan-container {
    position: relative;
    min-height: 100vh;
    -webkit-text-stroke: 0.20px rgb(255, 255, 255);
    font-size: 20PX;
  }

  .pokemon-list li {
    display: flex;
    align-items: center;
    gap: 8px;
  }

  .pokemon-image {
    width: 48px;
    height: 48px;
    object-fit: contain;
  }
