  .zukan-container {
    background-image: url('https://www.pokemon.jp/special/kowapoke/wallpaper/download/pc_1280_768_2.jpg');
    background-repeat: repeat-y;
    background-position: top center;
    min-height: 100vh;
    -webkit-text-stroke: 0.20px rgb(255, 255, 255);
    font-size: 20PX;
  }

  