<div [style.background-image]="'url(' + backgroundUrl + ')'" class="quiz-container">

  <div *ngIf="isLoading" class="text-center">
      <div class="spinner-border" role="status">
        <span class="visually-hidden">Loading...</span>
      </div>
  </div>

  <!--画像-->
  <div class="quiz-question">    
      <h2>Q1. {{ question }}</h2>
      <img [src]="imageUrl" alt="なぞのポケモン">
  </div>

  <!--ヒント-->
  <div class="quiz-info" [formGroup]="form">
      <div class="info-row">
        <label>タイプ：</label>
        <input formControlName="types" readonly>
      </div>
      <div class="info-row">
        <label>しんか：</label>
        <input formControlName="evolutions" readonly>
      </div>
      <div class="info-row">
        <label>とくせい：</label>
        <input formControlName="abilities" readonly>
      </div>
      <div class="info-row">
        <label>かくれとくせい：</label>
        <input formControlName="hiddenAbilities" readonly>
      </div>
  </div>

  <!--答え-->
  <div class="quiz-answer">
    
    <button type="button" [class]="'btn ' + color1 + ' mb-1 col-lg-3 answer'" (click)="register(answer1)">
        {{ answer1 }}
    </button>

    <button type="button" [class]="'btn ' + color2 + ' mb-1 col-lg-3 answer'" (click)="register(answer2)">
        {{ answer2 }}
    </button>
    <button type="button" [class]="'btn ' + color3 + ' mb-1 col-lg-3 answer'" (click)="register(answer3)">
        {{ answer3 }}
    </button>
    <button type="button" [class]="'btn ' + color4 + ' mb-1 col-lg-3 answer'" (click)="register(answer4)">
        {{ answer4 }}
    </button>

  </div>
</div>