/* You can add global styles to this file, and also import other style files */

@import '~@angular/material/prebuilt-themes/indigo-pink.css';

  @font-face {
    font-family: 'UzuraFont';
    src: url('/assets/fonts/uzura.ttf') format('truetype');
  }


  body {
    font-family: 'UzuraFont', sans-serif !important;
  }

    button, input, select, textarea {
    font-family: inherit;
  }


